# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Coverage reports
coverage

# API keys and secrets
.env

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
